body{
	background:#EEE6FF;
	margin:0;
}

#wrapper{
	width:960px;
	margin:auto;

}

header {
	background:url(../images/header_background.jpg) repeat-x;
	height:80px;
	margin:0;
}

@font-face{
	font-family:"Adigiana_Extreme"; 
	src: url("../fonts/Adigiana_Extreme.eot?") format("eot"), 
	url("../fonts/Adigiana_Extreme.woff") format("woff"), url("../fonts/Adigiana_Extreme.ttf") format("truetype"), 
	url("../fonts/Adigiana_Extreme.svg#Adigiana_Extreme") format("svg"), url("../fonts/Adigiana_Extreme.otf") format("opentype");
}

header h1{
	display:inline-block;
	font:35px Adigiana_Extreme;
	margin:12px 0 0 20px;
	color:white;
}

header #header_text{
	display:inline-block;
	float:right;
	margin:20px 5px 0 0;
	padding:0 0 0px 0;
	font:25px Avdira;
	color:#0C0C56;
	height:30px
}

header #change_city{
	padding:10px 20px 0 0;
	width:150px;
	float:right;
}

header #change_city, #input_city_name, #btn_get, #btn_reset{
	font-family:Avdira;
	text-align:center;
	color:#0C0C56;
}


header #input_city_name{
	font:italic 15px Verdana;
}

header #btn_get, #btn_reset{
	font-size:15px;
}

header #btn{
	padding:5px 0 0 0;
}

section{
	background:url(../images/section_background.jpg) no-repeat;
	height:553px;
	margin:2px 0 2px 0;
}

@font-face{
	font-family:"Avdira"; 
	src: url("../fonts/Avdira.eot?") format("eot"),
	url("../fonts/Avdira.woff") format("woff"), url("../fonts/Avdira.ttf") format("truetype"),
	url("../fonts/Avdira.svg#Avdira") format("svg"), url("../fonts/Avdira.otf") format("opentype");
}

section #content{
	border:0px solid black;
	width:960px;
	height:180px;
	margin:0;
	float:right;
	color:#0C0C56;
}

section #city_weather{
	width:960px;
	font:40px Avdira;
	text-align:center;
	padding:35px 0 0 0 ;
}

section #day{
	height:220px;
	padding:10px 0 0 0;
}

section #day_1, #day_2, #day_3{
	width:318px;
	padding:25px 0 0 0;
}
section #day_1{
	float:left;
}

section #day_2{
	float:left;
}

section #day_3{
	float:right;
}

section .date_weather{
	text-align:center;
	font:bold 25px Avdira;
	width:318px;
	padding:3px 0 0 0;
	
}

section .image_weather{
	float:right;
	width:150px;
	margin:0px;
	padding:0 0 0 20px;
	
}

section .temperature_weather{
	float:right;
	width:105px;
	text-align:right;
	font:50px Avdira;
	padding: 15px 0 0 0;
	
}

footer{
	height:30px;
	background:#258DA6;
}

footer #author{
	font: 14px Avdira;
	color:white;
	margin: 10px 20px 0 0;
	padding:0;
	float:right;
}

footer #year{
	padding:0 0 0 6px;
}

footer a:link{
	text-decoration:none;
	color:white;
}

footer a:hover{
	color:#0F1182;
	cursor:pointer;
}
