body{
	background:#EEE6FF;
	margin:0;
}

#wrapper{
	width:960px;
	margin:auto;

}

header {
	background:url(../images/header_background.jpg) repeat-x;
	height:80px;
	margin:0;
}

@font-face{
	font-family:"Adigiana_Extreme"; 
	src: url("../fonts/Adigiana_Extreme.eot?") format("eot"), 
	url("../fonts/Adigiana_Extreme.woff") format("woff"), url("../fonts/Adigiana_Extreme.ttf") format("truetype"), 
	url("../fonts/Adigiana_Extreme.svg#Adigiana_Extreme") format("svg"), url("../fonts/Adigiana_Extreme.otf") format("opentype");
}

header h1{
	display:inline-block;
	font:35px Adigiana_Extreme;
	margin:12px 0 0 20px;
	color:white;
}

section{
	background:url(../images/section_background.jpg) no-repeat;
	height:553px;
	margin:2px 0 2px 0;
}

@font-face{
	font-family:"Avdira"; 
	src: url("../fonts/Avdira.eot?") format("eot"),
	url("../fonts/Avdira.woff") format("woff"), url("../fonts/Avdira.ttf") format("truetype"),
	url("../fonts/Avdira.svg#Avdira") format("svg"), url("../fonts/Avdira.otf") format("opentype");
}

section #content{
	width:960px;
	margin:0;
	float:right;
	color:#0C0C56;
}

section #first_line_section{
	float:right;
}

section #change_city{
	padding:10px 10px 0 0;
	width:185px;
	float:right;
}

section #input_city_name, #btn_get, #btn_reset{
	font:15px Avdira;
	color:#0C0C56;
}

section #btn{
	padding:5px 0 0 0;
}

section #btn_get{
	cursor:pointer;
}

section #btn_reset{
	padding:0 7px 0 6px;
	text-align:center;
	cursor:pointer;
}

section #city_weather{
	width:765px;
	font:45px Avdira;
	text-align:center;
	padding:10px 0 0 0;
}

section #day{
	height:200px;
	padding:5px 0 0 0;
}

section #day_0, #day_1, #day_2{
	width:319px;
	padding:0;
}
section #day_0, #day_1{
	float:left;
}

section #day_2{
	float:right;
}

section .date_weather{
	text-align:center;
	font:bold 25px Avdira;
	width:319px;
	padding:13px 0 0 0px;
}

section #day_2 .date_weather{
	padding:30px 0 14px 0;
	font-size:27px;
}

section .image_weather{
	float:right;
	width:150px;
	margin:0px;
	padding:0 0 0 20px;
}

section .temperature_weather{
	float:right;
	width:148px;
	text-align:right;
	font:50px Avdira;
	padding:20px 0 20px 0;
}

section .description{
	width:319px;
	height:25px;
	padding:5px 0 0 0;
	float:right;
	text-align:center;
	font:20px Avdira;
}

footer{
	height:30px;
	background:#258DA6;
}

footer #author{
	font: 14px Avdira;
	color:white;
	margin: 10px 20px 0 0;
	padding:0;
	float:right;
}

footer #year{
	padding:0 0 0 6px;
}

footer a:link{
	text-decoration:none;
	color:white;
}

footer a:hover{
	color:#0F1182;
	cursor:pointer;
}
